<footer class="footer bg-dark py-3 mt-auto">
    <div id="bottom">
        <nav3 id="bottomText">
            <ul>
                <li class="footerLinks">
                    <a href="/about" >אודות</a>

                    <a href="/contact" >צור קשר</a>
                </li>

            </ul>
        </nav3>
        <div id="bottomfoot" class="darkgreen"></div>
    </div>
</footer>