<% const foodTypes=['איטלקי','מקסיקני', 'הודי' ,'מרוקאי' , 'אסיאתי' , 'תימני','הכל']; %>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark rtl-navbar ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/12/56/home-146585_1280.png" alt="Home" class="home-icon">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/foods/all" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        מתכונים
                    </a>
                    <ul id="foodType" class="dropdown-menu">
                        <li><a class="dropdown-item" href="/foods">הכל</a></li>
                        <li><a class="dropdown-item" href="/foods/?foodType=italian">איטלקי</a></li>
                        <li><a class="dropdown-item" href="/foods/?foodType=mexican">מקסיקני</a></li>
                        <li><a class="dropdown-item" href="/foods/?foodType=indian">הודי</a></li>
                        <li><a class="dropdown-item" href="/foods/?foodType=Moroccan">מרוקאי</a></li>
                        <li><a class="dropdown-item" href="/foods/?foodType=Asian">אסיאתי</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recommendations">המלצות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myArea">איזור אישי</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">משתמשי האתר</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>