<nav class="navbar navbar-expand-lg navbar-dark bg-dark rtl-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Recipes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        מתכונים
                    </a>
                    <ul id="foodType" class="dropdown-menu">
                        <li><a class="dropdown-item" href="/food/italian">איטלקי</a></li>
                        <li><a class="dropdown-item" href="/food/mexican">מקסיקני</a></li>
                        <li><a class="dropdown-item" href="/food/indian">הודי</a></li>
                        <li><a class="dropdown-item" href="/food/Moroccan">מרוקאי</a></li>
                        <li><a class="dropdown-item" href="/food/Asian">אסיאתי</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recommendation">המלצות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myArea">איזור אישי</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>