body {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/14/08/10/wood-2142241_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rtl-navbar {
    direction: rtl;
}

.rtl-navbar .dropdown-menu {
    text-align: right;
}

h1{
    text-align: center;
}

#title {
    text-align: center;
    height: 70px;
    font-size: 65px !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Amatic SC', sans-serif;
}


#btn {
    height: 40px;
    width: 120px;
}

#btn:hover {
    transition-duration: 2s;
    border-radius: 100%;
    cursor: pointer;
    background-color: magenta;
}

*/ #foodType {
    background-color: #a1a381c6;
    /* opacity: 1; */
}


#bottomText {
    text-align: center;
}

#bottomText li {
    display: inline;
    margin: 0 10px;
}

#bottomText a {
    color: #FFEFAC;
    text-decoration: none;
    margin-right: 10px;
}

#bottomText a:hover {
    color: yellow;
}

#bottomfoot {
    background-color: #FFFCEB;
    height: 5px;
}

.home-icon {
    width: 25px; /* Adjust the width and height as needed */
    height: 25px;
    padding-bottom: 2px;
    /* Add any other styles you want */
}

/* #show_buttons{
    display: flex;
    flex-direction: row;
}

#show_buttons a {
    flex:1;
} */