body {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/14/08/10/wood-2142241_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rtl-navbar {
    direction: rtl;
    /* Set text direction to right-to-left */
}

/* Reverse text alignment within the dropdown menu */
.rtl-navbar .dropdown-menu {
    text-align: right;
}

#title {
    text-align: center;
    height: 70px;
    font-size: 65px !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Amatic SC', sans-serif;
}


/*
h2 {
    text-align: right;
}

/* Style the menu bar */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b3d3e9;
    /* Background color for the menu bar */
    display: flex;
    flex-direction: row;
    height: 55px;
    ;
}

/* Style the menu items */
ul.menu li {
    /* Display the list items horizontally */
    flex: 1;
}

ul.menu li a {
    display: block;
    font-size: large;
    color: magenta;
    /* Text color for menu items */
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

/* Change the color of menu items on hover */
ul.menu li a:hover {
    background-color: #f12ae7;
    /* Background color for menu items on hover */
    color: white;
}


#btn {
    height: 40px;
    width: 120px;
}

#btn:hover {
    transition-duration: 2s;
    border-radius: 100%;
    cursor: pointer;
    background-color: magenta;
}

ul#sub-menu {
    display: none;
    padding: 0;
    /* Reset padding to 0 */
    margin: 0;
    text-align: center;
}

ul.menu li:hover ul#sub-menu {
    display: block;
    background-color: aqua;
}

ul.menu li ul#sub-menu li {
    height: 55px;
    display: block;
}

/* ul.menu li ul#sub-menu li:hover{
    height: 55px;
    background-color: blue;
    color: white;
    width: 100%;
} */


ul.menu li ul#sub-menu li:hover {
    color: white;
    padding: 0;
    /* Set padding to zero */
    margin: 0;
    /* Set margins to zero */
    width: 100%;
}

*/ #foodType {
    background-color: #a1a381c6;
    /* opacity: 1; */
}